:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: gainsboro;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ebddcf;
  max-width: 100%;
}


/* Estilos para los enlaces de navegación */

.nav-links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.nav-links li {
  position: relative;
}


.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}


.nav-links a:hover {
  color: #f0a500;
}


.active-link {
  color: #f0a500;  
  font-weight: bold;
  border-bottom: 2px solid #f0a500; 
}


button {
  cursor: pointer;
}
.logo {
  transition: transform 0.3s ease, filter 0.3s ease;
  height: 5rem;
  padding: 1rem;
}

.logo:hover {
  transform: scale(1.2);
}

.cardItemsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 20px;
}

.cardItem {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 10px;
}
.cardItem div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardItem img {
  width: 500px;
  max-width: 100%;
  align-items: center;
}

.cardItem h2,
p,
span {
  color: black;
  text-align: center;
}

.cardItem span {
  font-weight: bold;
}

.botones {
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.botones div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.cardDetail {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 1rem;
  gap: 1rem;
}

.cardDetail img {
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.cardDetail h2 {
  font-weight: bold;
  color: black;
}

.cartContainer {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.cartCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 2rem;
}
.cart img {
  align-items: center;
  justify-content: center;
  width: 100px;
}

.totalCarrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orderForm {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  width: 100%;
  background-color: #ebddcf;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 2rem;
  gap: 1rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
